.contenedorProductoEnCarrito{
    max-width: 540px;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid pink;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 25% 65% 10%;
    margin: 10px ;
    .imagenProductoEnCarrito{
        max-width: 100%;
        border-radius: 18px;
        margin-right: 16px;
    }
    .detallesProductoEnCarrito{
        margin: 0px 16px 0px 16px;
        h6{
            font-weight: 400;
        }
        .tituloProductoEnCarrito{
            text-transform: uppercase;
        }
    }
    .botonEliminar{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: 10px;
        button{
            background-color: red;
            border: 0;
            font-weight: 500;
            padding: 3px 8px;
            border-radius: 5px;
            &:active{
                background-color: rgb(255, 88, 88);
            }
        }
    }
}