.itemDetailGrid{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    margin: 100px 0;
    gap: 35px;
    border: 2px solid pink;
    border-radius: 60px;
    padding: 15px 15px;
    .divImg{
        display: flex;
        justify-content: flex-end;
        img{
            border: 1px solid gray;
            max-width: 100%;
            border-radius: 50px;
            transition: 0.5s;
            &:hover{
                scale: 1.03;
            }
        }
    }
    .divDetailsAndButton{
        display: flex;
        flex-direction: column;
    }
    .divDetails{
        h2{
            text-transform: uppercase;
        }
        p{
            font-size: 1.5em;
            margin-bottom: 0;
        }
        .itemDescripcion{
            margin-bottom: 15px;
        }
    }
}